<form method="GET" action="{% url 'search' %}">
  <!--pagenation-->
  <div class="pagination">
    {% if posts.has_previous %}
      <a href="page=1&search={{search}}">First</a>
      <a href="page={{posts.previous_page_number}}&search={{search}}">Previous</a>
    {% endif %}

    {% if posts.has_next %}
      <a href="page={{posts.next_page_number}}&search={{search}}">Next</a>
      <a href="page={{posts.paginator.num_pages}}&search={{search}}">Last</a>
    {% endif %}
  </div>

  <!--검색-->
  <div class="search">
    <form method="get" action="{% url 'List'}"> 
      <input name="post" placeholder="Search by Title">
    <button class="btn btn-primary" type="submit">검색</button>
  </div>

  <!--<span>{{posts.number}} / {{posts.paginator.num_pages}}</span>-->

</form>