<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
<body style="padding:50px; background-color:black; padding-left:150px;padding-right:150px">

<h1 style="color:rgb(229,9,20); text-align:center; font-size:50px; font-family: 'Pretendard';">MuShare</h1>
<h2 style="color:white; margin:15px;display:inline; text-align: left;">게시판</h2>
<button type="button" onClick="location.href='http://127.0.0.1:8000/new/'" style="color: rgb(229,9,20);font-family: 'Pretendard'; float:right; margin:5px; font-weight: 600;">New Post</button>
{% for blog in blogs.all %}

<hr style="border-color: white;">

<div style="color:white; margin:0px; padding:10px; border:2px solid; border-color:rgb(0, 0, 0);
border-radius:10px; background-color: rgb(0, 0, 0); font-family: 'Pretendard';">
<h3 style="color:rgb(255, 255, 255); display:inline; font-family: 'Pretendard';">[{{blog.type}}]</h3>
<h3 style="display:inline; font-family: 'Pretendard';">{{blog.title}}</h3>
<div style="color:rgb(134, 134, 134); display:inline; font-family: 'Pretendard';">
    {{blog.date}}
</div>

<br>
<br>
{{blog.summary}}
<a href="{% url 'detail' blog.id%}" style="color:rgb(229,9,20); font-family: 'Pretendard';">...more</a>
</div>

{% endfor %}
<hr style="border-color: white;">
</body>